/*COLORS*/
/*FONTS*/
body {
  font-family: Lato;
  margin: 0;
  background-image: url(../images/background.png);
  background-repeat: repeat;
  margin-top: 0; }
  body .navbar {
    width: 100%;
    align-items: right;
    align-items: center;
    font-family: "Lato", sans-serif;
    color: #292c44;
    text-transform: uppercase;
    min-height: 15vh;
    font-size: 15px;
    margin-bottom: 0px;
    background: url(../images/bg-icons2.png);
    position: fixed; }
    body .navbar a {
      font-family: "Orbitron", sans-serif; }
      body .navbar a span {
        color: #ff5349; }
    body .navbar .navbar-collapse {
      justify-content: flex-end; }
      body .navbar .navbar-collapse .navbar-nav .nav-link {
        font-family: "Lato", sans-serif;
        margin: 10px; }
        body .navbar .navbar-collapse .navbar-nav .nav-link:hover {
          background-color: #18cdca;
          color: white;
          border-radius: 3px; }
  body .home-container {
    padding: 0; }
  body .home {
    height: 100vh;
    background-image: url(../images/roll-the-dice.png);
    background-repeat: no-repeat;
    background-size: cover; }
    body .home .home-box {
      flex-basis: 50%;
      background-color: #f0f0f191;
      padding: 20px; }
      body .home .home-box h1 {
        font-size: 56px;
        font-weight: 300;
        margin-bottom: 2px; }
      body .home .home-box p {
        font-size: 17px;
        font-weight: 300; }
  body .gamelist-container {
    margin-top: 20px;
    border-top: 2px solid #4f80e1;
    background-image: url(../images/background.png); }
  body .gamelist {
    padding-top: 40px;
    min-height: 100px; }
  body .games-row-1 {
    margin: 10px 0; }
  body .game-box {
    flex: 1;
    margin: 0 10px;
    border: 1px solid #4f80e1;
    min-height: 25vh;
    background-repeat: no-repeat;
    background-size: cover; }
  body .game-box:nth-child(2) {
    margin: 0; }
  body .game-box-info {
    background: #4f80e1;
    height: 20%; }
    body .game-box-info :hover {
      cursor: pointer;
      flex-grow: 10; }
  body .hidden-p {
    display: none; }
    body .hidden-p :hover {
      display: inline; }
  body footer {
    height: 100%;
    background-color: #292c44;
    color: white;
    text-align: center;
    margin-top: 50px; }
    body footer p {
      text-align: center;
      color: white; }
    body footer .row {
      width: 80%; }
    body footer .icon-btn {
      background: #fff;
      color: #292c44;
      width: 60px;
      height: 60px;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      transition: transform .2s ease-in-out; }
      body footer .icon-btn:hover {
        transform: scale(1.1); }
      body footer .icon-btn:focus {
        outline: none; }
      body footer .icon-btn a {
        color: #292c44; }
      body footer .icon-btn i {
        font-size: 2.3rem; }

nav {
  background-color: #d81b1b;
  transition: all 0.8s ease !important; }

.shrink {
  position: fixed;
  min-height: 10vh !important; }

/*# sourceMappingURL=style.css.map */
