/*COLORS*/
$dark-blue: #292c44;
$dark-orange: #ff5349;
$dark-white: #f0f0f1;
$dark-white-box-home: #f0f0f191;
$turquoise: #18cdca;
$blue: #4f80e1;

/*FONTS*/
$orbitron: 'Orbitron', sans-serif;
$lato: 'Lato', sans-serif;

body {
    font-family: Lato;
    margin: 0;
}

.navbar {
    width: 100%;
    align-items: right;
    align-items: center;
    font-family: $lato;
    color: $dark-blue;
    text-transform: uppercase;
    min-height: 15vh;
    font-size: 19px;
    margin-bottom: 0px;
    background: url(../images/bg-icons2.png);

    a {
        font-family: $orbitron;
        span {
            color: $dark-orange;
        }
    }
    .navbar-collapse {
        justify-content: flex-end;
        .navbar-nav {
            .nav-link {
                font-family: $lato;
                margin: 10px;
                &:hover {
                    background-color: $turquoise;
                    color: white;  
                    border-radius: 3px;   
                }
            }
        }
    }
}  

.home-container {
    padding: 0;
}

.home {
	min-height: 60vh;
	background-image: url(../images/roll-the-dice.png);
    background-repeat: no-repeat;
    background-size: cover;

    .home-box {
    	flex-basis: 50%;
        background-color: $dark-white-box-home;
        padding: 20px;
        h1 {
            font-size: 56px;
            font-weight: 300;
            margin-bottom: 2px;
            span {
                font-family: $orbitron;
                font-weight: bolder;
            }
        }
        p {
            font-size: 17px;
            font-weight: 300;
        }
    }
}

.gamelist-container {
	margin-top: 20px;
	border-top: 2px solid $blue;
    background-image: url(../images/background.png);
}

.gamelist {
	padding-top: 40px;
	min-height: 100px;
}

.games-row-1,
.games-row-2 {
	margin: 10px 0;
}

.game-box {
	flex: 1;
	margin: 0 10px;
	border: 1px solid $blue;
	min-height: 25vh;
	background-repeat: no-repeat;
	background-size: cover;
}

.game-box:nth-child(2) {
	margin: 0;
}

.game-box-info {
	background: $blue;
	height: 20%;
}

footer {
    background: #292c44;

    .row {
        width: 80%;
    }
}

.icon-btn {
    background: #fff;
    color: $dark-blue;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    &:focus {
        outline: none;
    }

    a {
        color: $dark-blue;
    }

    i {
        font-size: 2.3rem;
    }
}