/*COLORS*/
$dark-blue: #292c44;
$dark-orange: #ff5349;
$dark-white: #f0f0f1;
$dark-white-box-home: #f0f0f191;
$turquoise: #18cdca;
$blue: #4f80e1;

/*FONTS*/
$orbitron: 'Orbitron', sans-serif;
$lato: 'Lato', sans-serif;

body {
    font-family: Lato;
    margin: 0 auto;
    max-width: 1200px;
    background-image: url(../images/bg-icons.png);
    background-repeat: repeat;
    background-color: $dark-white;
        .navbar {
            width: 100%;
            align-items: right;
            align-items: center;
            font-family: $lato;
            color: $dark-blue;
            text-transform: uppercase;
            height: 137px;
            font-size: 19px;
            margin-bottom: 0px;
            a {
                font-family: $orbitron;
                span {
                    color: $dark-orange;
                }
            }
            .navbar-collapse {
                justify-content: flex-end;
                .navbar-nav {
                    .nav-link {
                        font-family: $lato;
                        margin: 10px;
                        &:hover {
                            background-color: $turquoise;
                            color: white;  
                            border-radius: 3px;   
                        }
                    }
                }
            }
        }  
        .home {
            height: 825px;
            width: 100%;
            background-image: url(../images/roll-the-dice.png);
            background-repeat: no-repeat;
            position: relative;
            .home-box {
                width: 600px;
                height: 300px;
                position: absolute;
                right: 0;
                bottom: 30%;
                background-color: $dark-white-box-home;
                padding: 20px;
                h1 {
                    font-size: 56px;
                    font-weight: 300;
                    margin-bottom: 2px;
                    span {
                        font-family: $orbitron;
                        font-weight: bolder;
                    }
                }
                p {
                    font-size: 17px;
                    font-weight: 300;
                }
            }
        }
}